site_name: softdev-101

theme:
  name: material

markdown_extensions:
  - admonition
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true

nav:
  - index.md
  - setup.md
  - version_control.md
  - glossary.md
